{% extends 'base.html' %}

{% if user.is_authenticated %}
{% block content %}
<p>Logged in as <i>{{ user_name }}</i>, <a href="/logout">Logout</a></p>
<h1>BlueMark Verification Report Generator</h1>
<p>Choose a client and/or peer group:</p>
<form action='.' method='POST'>
    {% csrf_token %}
    <p>
        <select name='client_id'>
            {% for c_key, c_value in c_list.items %}
            {% if p_key == 0 %}
            <option value="{{ c_key }}" selected>{{ c_value }}</option>
            {% else %}
            <option value="{{ c_key }}">{{ c_value }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>
        <select name='peerGrp_id'>
            {% for p_key, p_value in p_list.items %}
            {% if p_key == 0 %}
            <option value="{{ p_key }}" selected>{{ p_value }}</option>
            {% else %}
            <option value="{{ p_key }}">{{ p_value }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>
        <input type='submit' value='Generate' />
    </p>
</form>
{% if request.method == "POST" %}
{% load static %}
<embed src="{% static '001_sample.pdf' %}" width="900" height="1100" type="application/pdf"></embed>
{% endif %}
{% endblock %}
{% else %}
<p>Login <a href="/login">Here</a></p>
{% endif %}